<!-- /candidates/new新建候選人資料頁面 -->
<h1>新建候選人</h1>

<%= render 'form', candidate: @candidate %>
<!-- partial render 局部渲染 -->
<!-- form為被渲染對象，檔名前面要底線，用的時候不用 -->

<!-- _form.html.erb有實體變數，所以該檔案無法單獨生存 -->
<!-- 需要controller給實體變數讓此檔案去抓 沒抓到就會壞掉（controller忘記做 或 action忘記給） -->
<!-- 所以要讓此檔案變成被動角色，餵變數給其，不要讓他主動抓 -->
<!-- 去edit和new頁面新增hash -->
<!-- candidate: @candidate為hash（ruby中，最後一個參數為hash的話，大括弧可以省略） -->
<!-- candidate為key，@candidate為value -->
<!-- 表示要傳candidate這個 區域變數 給 _form.html.erb -->
<!-- 把實體變數轉一手給 _form.html.erb -->
<!-- 這樣只要不要動到這裡的 區域變數candidate名稱，_form.html.erb就不會因為抓不到變數而壞掉-->
<!-- 把_form.html.erb變成獨立被餵食的角色 -->
<!-- 每個使用 _form.html.erb做局部渲染的檔案，都可以主動餵食不同的東西 到 _form.html.erb所使用的區域變數中，讓_form.html.erb隨不同頁面呈現不同東西-->