/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma/css/bulma.min.css
 *= require_tree .
 *= require_self
 */
 
 /* manifest打包 */
 /* css在rails可以當打包描述檔 */
 /* 星號加等號在rails的css中不會被判定為註解（沒等號的話會被判定為註解） */
 /* require_tree . 表示會把stylesheets目錄中所有css打包成一個檔案，把檔案目錄都require引入 進來*/
 /* require_self 引入本檔案（在此檔案裡寫的css也會被引入）*/

 .title {
    margin-top: 25px;
    margin-left: 10px;
 }

// 首頁新建候選人按鈕
 .create_candidate {
    margin-left: 10px;
 }